* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #fff;
  background: url("hiking.png");
  background-color: #cccccc;
  min-height:100vh;
  background-size: cover;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 50px;
   text-transform: capitalize;
}
h3{
    color:#555;
  text-transform: capitalize;
}
p {
  max-width: 900px;
}

.form-container{
  display:flex;
  justify-content:center;
  align-items: stretch;
  column-gap:20px;
}
.newuser-div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: rgba(255,255,255,0.9);

  display: inline-block;
 width: 340px;
  border-radius: 5px;

}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  cursor: pointer;
  color:#555;
}

input[type=submit]:hover {
  background-color: #7abaed;
  color:white;
  border: 1px solid white;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  color:#fff;
  background-color: rgba(0,0,0,0.3);
  padding: 2px;
}
.notes-div{
  padding:15px;
  text-align:left;
  background-color: rgba(20,20,20,0.4);
  border-radius: 5px;
}