@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family:sans-serif;
  color: #fff;
  background: url("https://raw.githubusercontent.com/wy-chan/boilerplate-project-exercisetracker/gomix/images/hiking.png");
  background-color: #88c0f0;
  min-height:100vh;
  background-size: cover;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-weight: bold;
  font-size: 50px;
   text-transform: capitalize;
 font-family: 'Raleway', sans-serif;
}
h3{
    color:#333;
  text-transform: capitalize;
}
p {
  max-width: 900px;
}

.form-container{
  display:flex;
  justify-content:center;
  align-items: stretch;
  column-gap:20px;
}
.newuser-div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: rgba(255,255,255,0.9);

  display: inline-block;
 width: 340px;
  border-radius: 5px;

}
form p{
  color: #3664a8;
  font-weight: bold;
}
input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #7abaed;
  border: 1px solid white;
  cursor: pointer;
  color:#fff;
  font-weight:bold;
}

input[type=submit]:hover {
  background-color: #3664a8;
  color:white;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  color:#555;
  background-color: rgba(200,200,200,0.3);
  padding: 2px;
  font-weight:400;
}
.notes-div{
  padding:15px;
  text-align:left;
  background-color: rgba(20,20,20,0.4);
  border-radius: 5px;
}
.notes-div code{
  color: #eee;
}
footer{
  color: #fff;
  
  text-align: center;
  padding-top: 100px;
  padding-bottom: 24px;
  }
  
  footer em{
  font-style: normal;
  font-weight: bold;
  }

  footer a, footer a:visited{
    color: #fff
  }
